<div class="col-lg-6">

  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            MENU
    </button>
  <div class="dropdown-menu">    
    <div role="separator" class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
    <a routerLink="equipo/index" routerLinkActive="active">Index equipo</a>
    <a routerLink="equipo/add" routerLinkActive="active"> Add Equipo</a>

    <input type="text" class="form-control" aria-label="Text input with dropdown button">
  </div>


  