<form #addForm=ngForm>
  <table>
    <tr>
      <td>
        <mat-form-field class='example-full-width'>
          <input required matInput placeholder="Nombre Equipo" [(ngModel)]="equipoadd.nombre" name="nombre" #nombre="ngModel" />
          <mat-error [hidden]="nombre.valid || nombre.pristine">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class='example-full-width'>
          <input required matInput placeholder="Nombre Tecnico" [(ngModel)]="equipoadd.dt" name="dt" #dt="ngModel" />
          <mat-error [hidden]="dt.valid || dt.pristine">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class='example-full-width'>
          <input required matInput placeholder="id calendario" [(ngModel)]="equipoadd.calendario" name="calendario" #calendario="ngModel" />
          <mat-error [hidden]="calendario.valid || calendario.pristine">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>
</form>

<div class="button_row">
  <button [disabled]="!addForm.valid" mat-raised-button color="primary">Guardar</button>
</div>